<% include partials/header %>

<h1>Welcome back <span class="text-uppercase"> <%= username %> </span></h1>
<a href="dashboard/add/<%= userInfo._id %>">Add Anime</a>

<h2>Your Anime</h2>
<% for(var key in anime) { %>
<div class="card">
    <%= anime[key].animeImage %>
    <img src="/uploads/1576344355406-488490145-39717.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"><%= anime[key].title %></h5>
        <p class="card-text"><%= anime[key].genre %></p>
        <a href="<%= anime[key].source %>" class="btn btn-primary">Go to </a>
    </div>
</div>
<% } %>