<% include partials/header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 bg-dark side-menu">
            <ul class="list-group side-nav-items bg-dark">
                <li class="list-group-item userProfile">
                    <img src="<%= userInfo.profileImage %>" class="rounded mx-auto d-block text-center" alt="..." />
                    <h5><%= userInfo.username %></h5>
                </li>
                <li class="list-group-item"><a href="#"> Edit Profile </a></li>
                <li class="list-group-item"><a href="#"> Display Anime </a></li>
                <li class="list-group-item"><a href="#">Add Anime </a></li>
                <li class="list-group-item"><a href="#">Delete Account </a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <h1>Welcome back <span class="text-uppercase"> <%= username %> </span></h1>
    <a href="dashboard/add/<%= userInfo._id %>">Add Anime</a>

    <h2>Your Anime</h2>
    <div class="row">
        <% for(var key in anime) { %>
        <div class="card w-25 m-5">
            <img src="/<%= anime[key].animeImage %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= anime[key].title %></h5>
                <p class="card-text"><%= anime[key].genre %></p>
                <a href="<%= anime[key].source %>" class="btn btn-primary">Go to </a>
                <a href="/users/dashboard/delete/<%= anime[key]._id %>" class="btn btn-danger">Delete </a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Edit
                </button>
            </div>
        </div>
        <% } %>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/users/dashboard/edit/<%= anime[key]._id %>"
                            enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input name="title" type="text" value="<%= anime[key].title %>" class="form-control"
                                    placeholder="Enter anime title">
                            </div>
                            <div class="form-group">
                                <label for="genre">Genre</label>
                                <input name="genre" type="text" value="<%= anime[key].genre %>" class="form-control"
                                    placeholder="Enter anime genre">
                            </div>
                            <div class="form-group">
                                <label for="source">Source</label>
                                <input name="source" type="text" value="<%= anime[key].source %>" class="form-control"
                                    placeholder="Enter anime source">
                            </div>
                            <div class="form-group">
                                <label for="animeImage">Replace anime image</label>
                                <input name="animeImage" type="file" class="form-control-file">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>